<table class="body-wrap" bgcolor="">
    <tr>
        <td></td>
        <td class="container" align="">

            <div class="content">
                <table>
                    <tr>
                        <td>
                            <p width="20%"><%= image_tag attachments['iris_logo.png'].url %></p>
                        </td>
                        <td>
                            <p width="30%"><%= image_tag attachments['unal_logo.png'].url %></p>
                        </td>
                    </tr>
                </table>
                <small>
                    La mejor aplicación dónde podrás encontrar la información de los grupos de 
                    investigación de la Universidad Nacional de Colombia 
                </small>
            </div>
            <br>
            <div>
                <h2>
                    Acabas de recibir una invitación del evento: <b><%= @event.name %></b>
                </h2>
                <hr>
                <hr>
                <br>
            </div>
            <div class="content follower">
                <table>
                    <tr>
                        <td>
                            <h4>
                                <strong><%= @event.name %></strong>
                                <div><small><b>Tema: </b><%= @event.topic %> </small></div>
                                <div><small><b>Descripción: </b> <%= @event.description %> </small></div>
                            </h4>
                            <p>
                                <div><b>Fecha: </b> <%= @event.date %> - Duración: <%= @event.duration.strftime("%H:%M") %></div>
                                <% @url = "http://maps.google.com/maps?q=#{@event.latitude},#{@event.longitude}"%>
                                <div><b>Ubicación: </b> <%= @event.address%> <%= " - " if @event.address%> <%= link_to "mapa", @url %> </div>
                            </p>
                            
                            Para más información: <a class="btn" href="https://is2-iris-fe.herokuapp.com">Dirigete al evento</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <p class="callout">
                                Para dejarnos un comentario accede al siguiente enlace:
                                <a href="https://is2-iris-fe.herokuapp.com/leave-comments">enviar comentarios</a> &raquo;
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
