<h3 align="center">
  <% full_name = @data["user"].name + " " + @data["user"].lastname %>
  Reporte general de publicaciones de: <b><%= full_name %></b>
</h3>
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Tipo de publicación</th>
    <th>Fecha de publicación</th>
  </tr>

  <tbody>
    <% @data["publications"].each do |publications| %>
      <tr>
        <td><%= publications.id %></td>
        <td><%= publications.name %></td>
        <td><%= publications.type_pub %></td>
        <td><%= publications.date %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<h4 align = "center">
  Resumen
</h4>
<table class="table table-bordered">
  <tr>
    <th>Softwares publicados</th>
    <th>Articulos publicados</th>
    <th>Tesis publicadas</th>
    <th>Libros publicados</th>
    <th>Monografías publicadas</th>
    <th>Patentes publicadas</th>
  </tr>

  <tbody>
    <tr>
      <% for value in @data["stats_publication"] do %>
      <td><%= value %></td>
      <%end%>
    </tr>
  </tbody>
</table>
