<h3 align="center">
  Reporte general de publicaciones del grupo: <b><%= "#{@data["research_group_name"]}" %> </b>
</h3>
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Tipo de publicación</th>
    <th>Fecha de Publicación</th>
  </tr>

  <tbody>
    <% @data["publications"].each do |publication| %>
      <tr>
        <td><%= publication.id %></td>
        <td><%= publication.name %></td>
        <td><%= publication.publication_type %></td>
        <td><%= publication.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4 align = "center">
  Resumen
</h4>
<table class="table table-bordered">
  <tr>
    <th>Softwares publicados</th>
    <th>Articulos publicados</th>
    <th>Tesis publicadas</th>
    <th>Libros publicados</th>
    <th>Monografías publicadas</th>
    <th>Patentes publicadas</th>
  </tr>

  <tbody>
    <tr>
      <% for statistic in @data["stats_publication"] do %>
        <td><%= statistic %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<>
