<h3 align="center">
  <% rg_name = ResearchGroup.get_rgname_by_id(@par) %>
  Reporte general de publicaciones del grupo <%= "#{rg_name[0]}" %>
</h3>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Tipo de publicación</th>
    <th>Fecha de Publicación</th>
  </tr>

  <tbody>
    <% @report_by_rg.each do |log| %>
      <tr>
        <td><%= log.id %></td>
        <td><%= log.name %></td>
        <td><%= log.type_pub %></td>
        <td><%= log.date %></td>
      </tr>
    <%end%>
  </tbody>
</table>
<h4 align = "center">
  Resumen
</h4>
<table class="table">
  <tr>
    <th>Softwares publicados</th>
    <th>Articulos publicados</th>
    <th>Tesis publicadas</th>
    <th>Libros publicados</th>
    <th>Monografías publicadas</th>
    <th>Patentes publicadas</th>
  </tr>

  <tbody>
    <tr>
      <th><%= Publication.num_publications_by_rg_and_type(@par, 0) %></th>
      <th><%= Publication.num_publications_by_rg_and_type(@par, 1) %></th>
      <th><%= Publication.num_publications_by_rg_and_type(@par, 2) %></th>
      <th><%= Publication.num_publications_by_rg_and_type(@par, 3) %></th>
      <th><%= Publication.num_publications_by_rg_and_type(@par, 4) %></th>
      <th><%= Publication.num_publications_by_rg_and_type(@par, 5) %></th>
    </tr>
  </tbody>
</table>
