<h3 align="center">
  Reporte de Cantidad de publicaciones por usuario
</h3>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cantidad de publicaciones</th>
    <th>Porcentaje de participación</th>
  </tr>

  <tbody>
    <% tot_publications = Publication.all.count %>
    <% @reports_users.each do |post| %>
      <% pubs_count = "#{post.pubs_count}" %>
      <% perc = (Integer(pubs_count) * 100 / tot_publications) %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.name %></td>
        <td><%= post.lastname %></td>
        <td><%= pubs_count %></td>
        <td><%= "#{perc} %"%></td>
      </tr>
    <%end%>
  </tbody>
</table>
