<h3 align="center">
  Reporte de Cantidad de publicaciones por usuario
</h3>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cantidad de publicaciones</th>
    <th>Porcentaje de participación</th>
  </tr>

  <tbody>
    <% @data['users'].each do |user| %>
      <% num_publications = "#{user.pubs_count}" %>
      <% percentage = (Integer(num_publications) * 100 / @data['total_publications']) %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= num_publications %></td>
        <td><%= "#{percentage} %"%></td>
      </tr>
    <%end%>
  </tbody>
</table>
